$black   : #000000;
$grey    : #5e5e5e;
$darkgrey: #303030;
$blue    : #007bd6;
$darkblue: #00508c;
$white   : #ffffff;
$yellow  : #f9bf12;
$orange  : #ef7100;
$shadow  : #00000017;

section {
  position: relative;
  width: 100%;
  height: 100vh;

  @media (max-width: 576px) {
    padding: 15px 0;
  }

  .title {
    text-align: center;
    font-size: 1.25rem;
 
    h1 {
      display: inline-block; 
      font-weight: 500;

      hr {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
  border-radius: inherit;
  margin: auto;
  overflow: hidden;

  @media (min-width: 576px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 100%;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }  
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 58px;
  z-index: 9999999;
  background-color: transparent;
  transition: background-color .5s ease-in-out;

  &[active="true"], &.open {
    background-color: $white;
    box-shadow: 0px 2px 4px 1px $shadow;
    border-bottom: 1px solid $shadow;
    animation: header-animation .5s ease-in-out;

    @keyframes header-animation {
      0% {
        transform: scaleY(1);
      }
      75% {
        transform: scaleY(1.5);
      }
      100% {
        transform: scaleY(1);
      }
    }
    .container-fluid {
      opacity: 0;
      animation: opacity-animation 1s linear forwards;
      animation-delay: .5s;

      @keyframes opacity-animation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .container-fluid {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;

    .navbar-icon {
      display: none;
      position: relative;
      width: 48px;
      height: 36px;
      border: 1px solid transparent;
      border-radius: 8px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }
      
      &:hover {
        transform: scale(1.005);
        transition: .2 transform ease-in-out;

        span.bar:nth-child(2) {
          width: 50%;
          left: 0;
          transition: .2 width ease-in-out;
        }
      }

      span.bar {
        display: block;
        position: absolute;
        height: 4px;
        width: 75%;
        margin-left: 6px;
        background: $darkblue;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        right: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 6px;
        }
        &:nth-child(2) {
          top: 16px;
        }
        &:nth-child(3) {
          top: 26px;
        }
      } 
      &.open span:nth-child(1) {
        top: 15px;
        transform: rotate(135deg);
      }
      &.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &.open span:nth-child(3) {
        top: 15px;
        transform: rotate(-135deg);
      }
    }
    .navbar-collapse {
      display: flex;

      @media (max-width: 768px) {
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        padding: 8px 0; 
        flex-direction: column;
        box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2), 
                  0px 8px 7px 3px rgba(0, 0, 0, 0.14), 
                  0px 10px 8px -4px rgba(0, 0, 0, 0.12);

        .nav-item {
          // padding-left: 15vh;
          // padding-right: 15vh;
          padding-top: 8px;
          padding-bottom: 8px;
          margin: 0;
          
          button {
            width: 100%;
            
            a {
              width: 100%;
              text-align: left;
            }
          }
        }
      }
      &.open {
        top: 50px;
        opacity: 1;
        background-color: $white;
        transition-delay: 5s;
        transition: .5s all ease-in-out;  
      }
    }
    .nav-item {
      text-align: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        // height: 20px;
        color: $black;
        padding: 12px 35px;
        text-decoration: none;
        font-weight: 600;

        @media (max-width: 992px) and (min-width: 768px) {
          padding: 12px 26px; 
        }
      }
      button.sp-btn {
        font-weight: 500;
        color: $white;
        background-color: $darkblue;
        text-transform: none;
      }
    }
    .blankspace { flex: 1; }
  }
}
section#sp-home {
  background: url(/bg.svg) no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // filter: url('#goo');
    margin: 0;

    .row {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;

      @media (min-width: 768px) {
        transition: .5s ease-in-out;
      }

      &.animation {
        display: flex;
        flex-basis: 0%;
        max-width: 0%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
        opacity: 0;

        &.active {
          @media (min-width: 768px) {
            flex-basis: 50%;
            max-width: 50%;
            opacity: 1;
          }

          @media (max-width: 768px) {
           flex-basis: 0% !important;
           max-width: 0% !important;
           opacity: 0 !important; 
           padding: 0 !important;
          }

          .content-info {
            flex: 1;
            flex-basis: 0%;
            max-width: 0%;
            opacity: 0;

            &.animate-show {
              flex-basis: 100%;
              max-width: 100%;
              opacity: 1;

              h1 {
                animation-delay: 12s;
                animation: 1s fadeInLeft ease-in-out;
              }
              p {
                animation-delay: 13s;
                animation: 1.25s fadeInLeft ease-in-out;
              }
              button {
                animation-delay: 14s;
                animation: 1.4s translateTop ease-in-out;
              }
            }
            &.fadeLeft {
              transition: flex-basis .2s linear,
                          max-width  .2s linear; 
              opacity: 0;

              h1 {
                animation-delay: 16s;
                animation: 1.5s fadeInRight ease-in-out;
              }
              p {
                animation-delay: 18s;
                animation: 1.5s fadeInRight ease-in-out;
              }
              button {
                animation-delay: 22s;
                animation: 1.5s translateButton ease-in-out;
              }
            }
          }
          .btn-control {
            opacity: 1;
          }
        }
        .content-info {

          h1 {            
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            opacity: 1;
          }
          p {
            text-align: justify;
            padding: 12px 20px;
            font-size: 1rem;
            font-weight: 400;
            margin-left: 20px;
            margin-right: 20px;
            opacity: 1;
          }
          button {
            display: block;
            margin: 0 auto;
            text-align: center;
            text-transform: none;
            font-weight: 600;
            letter-spacing: 1px;
            color: $white;
            background-color: $orange;
            padding: 12px 20px;
            opacity: 1;
          }
        }
        .btn-control {
          position: absolute;
          width: 100%;
          bottom: 12vw;
          z-index: 999999;
          perspective: 880px;
          transform-origin: 100% 100%;
          opacity: 0;

          ul {
            display: block;
            list-style: none;
            padding: 0;
            margin: 0 auto;
            text-align: center;

            li {
              display: inline-block;
              margin-right: 5px;

              a.pointer {
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 1000%;
                background-color: $white;
                cursor: pointer; 
                box-shadow: -3px 3px 6px 2px $shadow;
                overflow: hidden;
                transition: .5s ease-in-out;

                &.active {
                  transform: translate3d(0px,-1px,1px);
                  perspective: 550px;
                  transform-style: preserve-3d;
                  box-shadow: 6px 6px 6px 2px #0000001c;
                }
              }
              &:nth-child(2) a {
                background-color: $yellow;
              }
              &:nth-child(3) a {
                background-color: $orange;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      &.logo {
        display: flex;
        flex-basis: 50%;
        max-width: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 768px) {
          flex-basis: 100%;
          max-width: 100%;
          padding-top: 5rem;
        }
        @media (max-width: 520px) {
          padding-top: 12.5rem;
        }
      }

      .circle {
        width: 225px;
        height: 225px;
        background-color: $white;
        border-radius: 50%; 
        box-shadow: -1px 1px 12px 1px $shadow;
        z-index: 2;

        @media (max-width: 768px) {
          width: 185px;
          height: 185px;
        }
        @media (max-width: 520px) {
          width: 150px;
          height: 150px;
        }
  
        .buho {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 15px;
          box-sizing: border-box;
  
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .title {
        text-align: center;
        color: $white;
        margin-top: 4rem;

        @media (max-width: 768px) {
          margin-top: 5rem;
        }
        @media (max-width: 520px) {
          margin-top: 8.5rem;
        }
        h1 {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 1.8em;
          font-weight: 500;
          letter-spacing: 1.5px;

          @media (max-width: 768px) {
            font-size: 1.6em;
            letter-spacing: 1.2px;
          }
        }
      }
    }
    .arrow-down {
      position: absolute;
      display: block;
      width: 65px;
      margin: 0 auto;
      margin-top: 2.5vw;
      margin-bottom: 2vw;
      z-index: 4;
      bottom: 0;
    }
  }
} 
section#card-info {
  background-color: $blue;
  display: none;
  height: 55vh;

  @media (max-width: 768px) {
    display: block;
    height: 60vh;
  }

  .container {
    padding-top: 4vw;
    padding-bottom: 4vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-info {
      &.animate-show {
        flex-basis: 80%;
        max-width: 80%;
        opacity: 1;

        h1 {            
          color: $white;
          font-size: 1.6rem;
          font-weight: 500;
          text-align: center;
          opacity: 1;
          animation-delay: 12s;
          animation: 1s fadeInLeft ease-in-out;
        }
        p {
          color: $white;
          text-align: justify;
          padding: 12px 20px;
          font-size: 1rem;
          font-weight: 400;
          margin-left: 20px;
          margin-right: 20px;
          opacity: 1;
          animation-delay: 13s;
          animation: 1.25s fadeInLeft ease-in-out;
        }
        button {
          display: block;
          margin: 0 auto;
          text-align: center;
          text-transform: none;
          font-weight: 600;
          letter-spacing: 1px;
          color: $white;
          background-color: $orange;
          padding: 12px 20px;
          opacity: 1;
          animation-delay: 14s;
          animation: 1.4s translateTop ease-in-out;
        }
      }
      &.fadeLeft {
        display: none;
        flex-basis: 0;
        max-width: 0;
        opacity: 0;

        h1 {
          animation-delay: 16s;
          animation: 1.5s fadeInRight ease-in-out;
        }
        p {
          animation-delay: 18s;
          animation: 1.5s fadeInRight ease-in-out;
        }
        button {
          animation-delay: 22s;
          animation: 1.5s translateButton ease-in-out;
        }
      }
    }
    .btn-control {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 999999;
      perspective: 880px;
      transform-origin: 100% 100%;
      opacity: 1;

      @media (max-width: 567px) {
        bottom: 0;
      } 

      ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 5px;

          a.pointer {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 1000%;
            background-color: $white;
            cursor: pointer; 
            box-shadow: -3px 3px 6px 2px $shadow;
            overflow: hidden;
            transition: .5s ease-in-out;

            &.active {
              transform: translate3d(0px,-1px,1px);
              perspective: 550px;
              transform-style: preserve-3d;
              box-shadow: 6px 6px 6px 2px #0000001c;
            }
          }
          &:nth-child(2) a {
            background-color: $yellow;
          }
          &:nth-child(3) a {
            background-color: $orange;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
section#sp-lession, section#sp-teacher-choose {
  background: url(/bg-reverse.svg);
  background-size: cover;
  background-position: center center;

  .container {
    padding-top: 4vw;
    padding-bottom: 4vw;

    .title {

      h1 {
        font-weight: 500;
        color: $white;

        @media (max-width: 768px) {
          margin: 0;
        }

        hr {
          color: $white;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-direction: column-reverse;  
      }

      .row {
        position: relative;
        flex: 1;
        padding: 15px;
        height: 60vh;
        box-sizing: border-box;

        @media (max-width: 768px){
          padding: 0;
          height: 45vh;
          width: 100%;
        }

        &.text-content {
          position: relative;
          display: flex;
          padding-top: 2.5em;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          @media (max-width: 768px){
            padding: 0;
            height: 26vh;
          }

          .text-card {
            display: none;
            width: 100%;
            opacity: 0;

            @media (max-width: 768px) {
              padding-left: 50px;
              padding-right: 50px;
            }
            @media (max-width: 576px) {
              padding-left: 15px;
              padding-right: 15px;
            }

            &.show {
              display: block;
              opacity: 1;
              animation: opacity-text .5s ease-in-out;
              
              @keyframes opacity-text {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }
            .title {
              text-align: center;
              color: $white;
  
              span.badge {
                float: left;
                padding: .15em .6em;
                background-color: $white;
                border-radius: 1000%;
                color: $black;
                font-size: 0.80em; 
              }
              h3 {
                margin: 0;
                font-weight: 400;

                @media (max-width: 768px) {
                  color: $black;
                }
              }
            }
            .description {
              text-align: justify;
              color: $white;
  
              p {
                padding: 18px 50px;

                @media (max-width: 576px) {
                  padding: 15px 15px;
                }
              }
              @media (max-width: 768px) {
                color: $black;
              }
            }
          }
        }
        &.cards-content {
          display: flex;
          flex: 1.45;
          padding: 15px 20px;
          justify-content: center;

          @media (max-width: 768px){
            flex: 1;
            position: relative;
            padding: 0;
            width: 100%;
          }

          .card {
            position: absolute;
            width: 22.5vw;
            height: 23vw;
            max-width: 450px;
            max-height: 450px;
            min-width: 300px;
            min-height: 300px;
            top: -99999px;
            left: 0;
            right: 0;
            bottom: -99999px;
            margin: auto;
            background-color: $white;
            border: 1px solid $shadow;
            box-shadow: 6px 6px 20px 6px $shadow;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
            opacity: 1;

            @media (max-width: 576px) {
              min-width: 285px;
              min-height: 285px;
            }

            &.active {
              transform: translateX(0px) translateY(0px) !important;
              z-index: 4;
              animation: cardOpacity 1s;

              @keyframes cardOpacity {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }
          }
          .card_1 {
            transform: translateX(60px) translateY(60px);
            z-index: 3;

            @media (max-width: 768px) {
              transform: translateX(0px) translateY(0px) !important;
            }
          }
          .card_2 {
            transform: translateX(80px) translateY(80px);
            z-index: 2;

            @media (max-width: 768px) {
              transform: translateX(0px) translateY(0px) !important;
            }
          }
          .card_3 {
            transform: translateX(100px) translateY(100px);
            z-index: 1;

            @media (max-width: 768px) { 
              transform: translateX(0px) translateY(0px) !important;
            }
          }
          .btn-control {
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 999999;
            perspective: 880px;
            transform-origin: 100% 100%;

            @media (max-width: 768px) {
              bottom: -200px;
            }
            @media (max-width: 576px) {
              bottom: -230px;
            }

            ul {
              display: block;
              list-style: none;
              padding: 0;
              margin: 0 auto;
              text-align: center;

              li {
                display: inline-block;
                margin-right: 5px;

                a.pointer {
                  display: block;
                  width: 25px;
                  height: 25px;
                  border-radius: 1000%;
                  background-color: $blue;
                  cursor: pointer; 
                  box-shadow: -3px 3px 6px 2px $shadow;
                  overflow: hidden;
                  transition: .5s ease-in-out;

                  &.active {
                    transform: translate3d(0px,-1px,1px);
                    perspective: 550px;
                    transform-style: preserve-3d;
                    box-shadow: 6px 6px 6px 2px #0000001c;
                  }
                }
                &:nth-child(2) a {
                  background-color: $yellow;
                }
                &:nth-child(3) a {
                  background-color: $orange;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
section#sp-offer, section#sp-need {
  height: auto;

  .container {
    padding-top: 4vw;
    padding-bottom: 4vw;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      
      .row {
        position: relative;
        flex: 1;
        padding: 20px;
        flex-basis: 33.333333%;
        min-width: 330px;
        min-height: 428px;
        max-width: 33.333333%;

        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
        &.line-p {
          flex-basis: 100%;
          max-width: 100%;
          text-align: center;
          color: #5e5e5e;
          font-weight: 500;
          font-size: 1.2em;
        }
        .card-blank {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 30vw;
          min-width: 300px;
          min-height: 350px;

          .content-circle {
            flex: 1;

            .circle {
              display: block;
              margin: 0 auto;
              background-color: $blue;
              border-radius: 100%;
              width: 200px;
              height: 200px;
              align-self: center;
              justify-self: center;
            }
          }
          .text-content {
            flex: 1;

            h2 {
              text-align: center;
              color: $black;
              font-weight: 500;
            }
            p {
              text-align: justify;
              color: $grey;
              font-weight: 400;
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
}
section#sp-need .container .content {
  .row {
    max-height: 300px;
    min-height: 300px; 

    &.line-p {
      max-height: inherit;
      min-height: auto;
      padding: 0;
    }

    .card-blank {
      height: auto !important;
      @media (max-width: 768px) {
        min-height: 260px !important; 
      }
  
      .content-circle .circle {
        background-color: $yellow !important;
      }
    }
  }
}
section#sp-teacher-choose {
  background: url(/bg-reverse-yellow.svg);

  .container {
    .title {
      h1 {
        color: $black;

        hr {
          color: $yellow;
        } 
      }
    }
    .content {

      @media (max-width: 768px) {
        flex-direction: column;  
      }
      .row {
        
        &.text-content {
          
          .text-card  {

            .title {
              color: $black;
              
              span.badge {
                background-color: $yellow;
                color: $white; 

                @media (max-width: 768px) {
                  background-color: $white;
                  color: $black;
                }
              }
            }
            .description {
              color: $black;
            }
          }
        }
        &.cards-content {
          
          .card_1 {
            transform: translateX(-60px) translateY(60px);
            z-index: 3;
          }
          .card_2 {
            transform: translateX(-80px) translateY(80px);
            z-index: 2;
          }
          .card_3 {
            transform: translateX(-100px) translateY(100px);
            z-index: 1;
          }
          .btn-control {
            @media (max-width: 768px) {
              bottom: -200px;
            }
            ul li:nth-child(2) a {
              @media (max-width: 768px) {
                background-color: $white;
              }
            }
          }
        }
      }
    } 
  }
}
footer {
  background-color: #303030;
  padding: 15px;

  .container {
    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      box-sizing: border-box;
      margin-top: 15px;

      .row {
        position: relative;
        flex: 1;
        padding: 15px;

        @media (max-width: 768px){
          flex-basis: 100%;
          max-width: 100%;
        }

        &.footer-small-button {
          border-top: 1px solid $white;
          flex-basis: 100%;
          max-width: 100%;
          color: $white;
          text-align: center;
        }
        h2 {
          color: $white;
          font-weight: 500;
          font-size: 1.45em;
          margin: 0;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            a {
              color: $white;
              text-decoration: none;
              padding: 5px 0px;
              display: block;
            }
          }
        }
        &.share {
          ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            li {
              flex: 1;
              flex-basis: 33.3333%;
              max-width:  33.3333%;

              a {
                text-align: center;
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-90%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(90%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes translateTop {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translateButton {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}