.inputFileUpload {
	display: none;
}
.dialog-upload-content {
	justify-content: center;
	align-items: center;
	justify-items: center;
	text-align: center;
	padding: 36px 30px !important;
}
.dialog-upload-content img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
