.none-transform {
  flex: 0 1 auto;
  margin: 32px;
  display: flex;
  outline: none;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  transform: none !important;
}