.background {
	background: url(/background.jpg) no-repeat; 
	position: relative;
	width: 100%;
	background-size: cover !important;
	background-position: center;
	background-attachment: fixed;
	display: flex;
  height: 100vh;

  // .p-0 { padding: 0 !important; }
  .container-fluid {
    padding: 0;

    #grid-form-login {
      padding: 0;

      .paper {
        width: 100%;
        height: 100%;

        .content {
          height: 100%;

          .swipeableviews {
            flex: 12;

            & > div, & > div > div {
              height: 100%;
            }
          }
          .appbar-bottom {
            flex: 0;
            width: 100%;

            header {
              display: flex;
              justify-content: flex-end;
              padding-bottom: 1px;
            }
          }
        }
      }
    }
  }
}
.form {
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
}
.react-swipeable-view-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	color: white !important;
	margin-top: 1rem !important;
	text-transform: inherit !important;
	padding: 12px 0px !important;
}
.btn-signin {
	margin-bottom: 1rem !important;
}
.btn-facebook {
	background-color: #4267b2 !important;
}
.btn-facebook:hover {
	background-color: #3b5a99 !important;
}
.btn-google {
	background-color: #ea4335 !important;
}
.btn-google:hover {
	background-color: #d94033 !important;
}
@media (max-width: 768px) {
	#grid-form-login {
		position: absolute;
		display: flex;
		margin: 0 auto;
    padding: 6em 0;
    top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	#grid-form-login > div > div {
		display: flex;
		height: 100% !important;
		align-items: center;
	}
}

