#view.root {
	position: relative;
	display: flex;
	justify-content: center;
}
.input-view label,
.input-view input,
.input-view textarea,
.input-view div[role="button"] {
	color: black !important;
}
.input-view svg[focusable="false"] {
	display: none;
}
.input-view svg {
	color: black;
}
.input-view .material-icons {
	color: black;
}
.checkboxDisabled label > span {
	color: #f50057 !important;
}
.checkboxDisabled label > span + span {
	color: black !important;
}